.shepparton-profile {
    margin-top: 30px;
}

/************************************* top four icons start here *************************************/
.shepparton-profile .icon-circle {
    background-color: #fff;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 2px 10px 0px var(--grey-border)
}

.shepparton-profile .top-four-icons .active {
    background-color: var(--light-fill);
}

@media (min-width:990px) AND (max-width:1400px) {
    .shepparton-profile .icon-circle {
        width: 60px;
        height: 60px;
    }

    .shepparton-profile .icon-circle img {
        width: 55%;
    }
}

/************************************* top four icons end here *************************************/


/************************************* Supplier text after icons start here *************************************/
.shepparton-profile .supplier-text-sec {
    margin-top: 34px;
}

.shepparton-profile .supplier-text-sec .supplier-img {
    background-color: #fff;
    border-radius: 50%;
    width: 136px;
    height: 136px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 2px 10px 0px var(--grey-border)
}

.shepparton-profile .supplier-text-sec .supplier-heading h1 {
    padding-left: 22px;
}

/************************************* Supplier text after icons end here *************************************/


/************************************* above stylings is copyed from Shepparton Profile*************************************/



/************************************* Shepparton-Reviews page styling start here*************************************/


.shepparton-reviews {
    margin-top: 40px;
    padding-left: 40px;
}

.reviews-rating-title .text-title {
    padding-left: 15px;
}

.shepparton-reviews .reviews-container {
    margin-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E6E6E6;
}

.shepparton-reviews .reviews-container .review-text-body {
    line-height: 30px;
    color: var(--grey-border);
}





/************************************* Shepparton-Reviews page styling end here*************************************/

/************************************* Media Quries start here *************************************/

@media(max-width:768px){
    .shepparton-profile .supplier-text-sec .supplier-img {
        width: 100px;
        height: 100px;
    }
    .shepparton-profile .supplier-text-sec .supplier-heading h1{
        font-size: 30px;
    }
}
@media (min-width:990px) AND (max-width:1400px) {
    .shepparton-profile .supplier-text-sec .supplier-img {
        width: 100px;
        height: 100px;
    }
    .shepparton-profile .supplier-text-sec .supplier-heading h1{
        font-size: 40px;
    }
}

/************************************* Media Quries end here *************************************/
